--extra-index-url https://download.pytorch.org/whl/cpu

altair
attrs
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
extra-streamlit-components
faiss-cpu==1.11.0
filelock
GitPython
idna
itsdangerous
Jinja2
joblib
jsonschema
MarkupSafe
networkx
numpy
packaging
pandas
pillow
psycopg2-binary
pycparser
pydeck
PyJWT
python-dateutil
pytz
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers==5.0.0
setuptools
six
smmap
streamlit==1.46.1
streamlit-authenticator
tenacity
threadpoolctl
torch==2.7.1+cpu
tornado
tqdm
transformers
typing_extensions
urllib3
watchdog
